<%= render :partial => "courses/search_bar" %>

<br>

<div class="bs-example bs-example-tabs">

  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <% @grades.each_with_index do |grade, i| %>
      <% active_flag = "active" if i + 1 == @grade.id %>
      <%= content_tag :li , :class => active_flag do %>
        <%= link_to(grade.name, grade_path(grade), :data => { :toggle => :tab } ) %>
      <% end %>
    <% end %>
  </ul>

  <div id="myTabContent" class="tab-content">

    <h2>
      <%= link_to(@grade.name + '課程', grade_path(@grade), :style => "color: black;") %>
      <%= %>
    </h2>

    <table class="table table-hover">
      <%= render :partial => "courses/head" %>
      <%= render :partial => "courses/item", :collection => @courses, :as => :course %>
    </table>

  </div>
</div>

<center>
  <%= will_paginate @courses, previous_label: "上一頁", next_label: "下一頁",renderer: BootstrapPagination::Rails %>
</center>
