<%= render :partial => "courses/search_bar" %>

<br>

<div class="bs-example bs-example-tabs">
  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <% @grades.each_with_index do |grade, i| %>
      <% active_flag = "active" if i + 1 == @grade.id %>
      <%= content_tag :li , :class => active_flag do %>
        <%= link_to(grade.name, grade_path(grade), :data => { :toggle => :tab } ) %>
      <% end %>
    <% end %>
  </ul>
  <div id="myTabContent" class="tab-content">
    <h2>
      <%= link_to('打包下載', '#') %>
      <%= link_to(@grade.name + '課程', grade_path(@grade), :style => "color: black;") %>    
    </h2>
    <%= render 'courses/item' %>
  </div>
</div>
