
<div class="panel-heading">
  <h3 class="panel-title"><%= bullet.title %>
    <div class="pull-right">
      <%= bullet.owner.name %> @
      <%=bullet.updated_at.to_date %>
    </div>
  </h3>
</div>

<div class="panel-body">
  <%= markdown bullet.content %>

<% if can? :manage, Bullet %>

  <%= link_to(bullet_path(bullet), class: "btn btn-sm btn-danger pull-right",
                                        method: :delete, data: { confirm: "確定嗎?" }) do %>
    <span class="glyphicon glyphicon-trash"></span> 刪除
  <% end %>

  <%= link_to(edit_bullet_path(bullet), class: "btn btn-sm btn-success pull-right") do %>
    <span class="glyphicon glyphicon-edit"></span> 修改
  <% end %>

<% end %>

</div>
