
<h3><%= bullet.title %></h3>

<%= bullet.content %>

<br><br>
<%= bullet.created_at.to_date %>

<% if can? :manage, Bullet %>
  <%= link_to("修改", edit_bullet_path(bullet), class: "btn btn-sm btn-default pull-right")%>
  <%= link_to("刪除", bullet_path(bullet), class: "btn btn-sm btn-default pull-right", method: :delete, data: { confirm: "Are you sure?" } )%>
<% end %>

<hr>

