<div class="col-md-4 col-md-offset-4">
  <%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inputs">
      <br>
      <%= f.text_field :name, :class => "form-control", :placeholder => "課程名稱" %>
      <br>
      <% categories = ['期中考', '期末考', '上機考', '小考', '參考資料'] %>
      <%= f.select(:category, categories.collect {|c| [c.to_s,c.to_s]}, {:include_blank => "種類"}, {:class => "form-control"} ) %>
      <br>
      <% dates = 2006..Date.today.year %>
      <%= f.select(:year, dates.collect {|d| [d.to_s,d.to_s]}, {:include_blank => "西元年"}, {:class => "form-control"} ) %>
      <br>
      <%= f.collection_select(:grade_id, Grade.all, :id, :name, {prompt: "年級"}, {:class => "form-control"}) %>      
      <br>
      <%= f.text_field :teacher, :class => "form-control", :placeholder => "老師" %>
      <br>
      <%= f.text_area :note, :class => "form-control", :placeholder => "備註" %>
      <br>
      <%= f.label :CourseData, "上傳檔案(資料夾請先壓縮再上傳喔～)" %>
      <%= f.file_field :CourseData %>
    </div>
    
    <hr>
    <div class="form-actions">
      <%= f.submit "確定", :class => "btn btn-primary"%>
    </div>
  <% end %>
</div>
