<tr>

  <td><%= course.year %></td>
  
  <td><%= course.name %></td>
  
  <td><%= course.teacher %></td>
  
  <td><%= render_course_owner(course) %></td>
  
  <td><%= course.category %></td>
  
  <td><%= render_course_download course %></td>

  <td><%= render_course_note(course) %></td>
  
  <td><%= render_course_year(course) %></td>
  
  <td>
    <%= render_course_update(course) %>
    <%= render_course_destroy(course) %>
  </td>

</tr>
