<tr>

  <% if mobile_device? %>

    <td width="25%">
      <%= course.year %> 
      <%= render_course_semester(course) %>
      <br>
      <%= course.category %>
    </td>

    <td width="25%"><%= course.name %></td>
 
    <td width="25%"><%= course.teacher %></td>
 
    <td width="25%"><%= render_course_download course %></td>

  <% else %>
    <td>
      <%= render_course_fresh_state(course) %>
    </td>
    <td>
      <%= course.year %>
      <%= render_course_semester(course) %>
    </td>
 
    <td><%= course.name %></td>

    <td><%= course.teacher %></td>

    <td><%= course.category %></td>

    <td><%= render_course_note(course) %></td>

    <td><%= render_course_owner(course) %></td>
 
    <td><%= render_course_year(course) %></td>

    <td><%= render_course_download course %></td>

    <td><%= pluralize(course.get_likes.size, "Like") %></td>

    <td>
        <%= link_to like_course_path(course), method: :get do %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
        <% end %>
         ·
        <%= link_to dislike_course_path(course), method: :get do %>
          <span class="glyphicon glyphicon-thumbs-down"></span>
        <% end %>
    </td>

    <td>
      <% if can? :manage, Course %>
        <%= render_course_update(course) %>
        <%= render_course_destroy(course) %>
      <% end %>
    </td>
  <% end %>

</tr>
