<div class="new-course">


  <p class="new-course-desc">
    修改課程資訊與檔案。
   </p>  

  <hr>

  <%= simple_form_for @course,  html: { class: 'form-horizontal' } , :wrapper => :horizontal_form,  :wrapper_mappings => {    check_boxes: :horizontal_radio_and_checkboxes,    radio_buttons: :horizontal_radio_and_checkboxes,    file: :horizontal_file_input,    boolean: :horizontal_boolean } do |f| %>
        
        <%= f.input :name, :label => "課程名稱", :hint => "“演算法概論” or “資料結構”" %>

        <% categories = ['期中考', '期末考', '上機考', '小考', '參考資料'] %>
        <%= f.input :category, :collection => categories, :label => "種類", :prompt => "選擇檔案種類" %>

        <%= f.input :year, :collection => 96..(Date.today.year - 1911), :label => "年度", :prompt => "選擇開課學年", :hint => "輸入開課年份以供參考" %>

        <%= f.input :semester_id, :collection => Semester.all, :label => "學期", :prompt => "開課學期" %>
        
        <%= f.input :grade_id, :collection => Grade.all, :label => "年級", :prompt => "開課年級", :hint => "若無法判斷，請選擇 “其他”" %>
        
        
        <%= f.input :teacher, :label => "教授" %>

        <%= f.input :note, :label => "備註" , :hint => "範圍、心得...", :input_html => { :rows => 3 } %>
        

        <%= f.input :data, :label => "選擇檔案" %>
      
      <hr>
      
      <div class="form-group text optional course_description">
        <label class="text optional col-sm-1 control-label" for="course_description"></label>
        <div class="col-sm-11">
            <%= f.submit "儲存修改" , :class => "btn btn-lg btn-danger" %>
        </div>
      </div>
  <% end %>

</div>
