<div class="row">  

  <div class="group">
    <%= link_to("新增", new_course_path(@course), :class => "btn btn-warning pull-right" ) %>
    <%= link_to("修改", edit_course_path(@course), :class => "btn btn-primary pull-right" ) %>
  </div>

  <div class="col-md-9">
    <p>
      <strong>Name:</strong>
      <%= @course.name %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @course.category %>
    </p>

    <p>
      <strong>Year:</strong>
      <%= @course.year %>
    </p>

    <p>
      <strong>Grade:</strong>
      <%= @course.grade %>
    </p>

    <p>
      <strong>Teacher:</strong>
      <%= @course.teacher %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= simple_format(@course.note) %>
    </p>

    <p>
      <td><%= link_to 'Download File', :action => 'download_file', :id => @course.id %></td>
    </p>
  </div>

</div>
