<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">資財考古題</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a href="/grade/1">課程</a></li>
        <li><a href="/pages/about">關於本站</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% unless current_user %>

          <li> <%= link_to("註冊", new_user_registration_path) %> </li>
          <li> <%= link_to("登入", new_user_session_path) %> </li>

        <% else %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% if can? :manage, Bullet %>
                <li>
                  <%= link_to(admin_courses_path) do %>
                    <span class="glyphicon glyphicon-tasks"></span> 課程管理
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_bullet_path) do %>
                    <span class="glyphicon glyphicon-bullhorn"></span> 新增公告
                  <% end %>
                </li>
                <li class="divider"></li>
              <% elsif current_user.public == false %>
              <li>
                <%= link_to(user_path(current_user)) do %>
                  <span class="glyphicon glyphicon-heart-empty"></span> 貢獻
                <% end %>
              <li>
              <li>
                <%= link_to(edit_user_registration_path) do %>
                  <span class="glyphicon glyphicon-cog"></span> 帳號設定
                <% end %>
              </li>
              <li class="divider"></li>
              <% end %>

              <li>
                <%= link_to(destroy_user_session_path, :method => :delete ) do %>
                  <span class="glyphicon glyphicon-log-out"></span> 登出
                <% end %>
              </li>
            </ul>
          </li>

        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

