<h2><%= @course.name %> 's Current Version</h2>

<pre>
  名稱: <%= @course.name %>
  年度: <%= @course.year %>
  學期: <%= Semester.find(@course.semester_id).name %>
  教授: <%= @course.teacher %>
  種類: <%= @course.category %>
  備註: <%= @course.note %>
  檔案名稱: <%= simple_name(@course.data, 20) %>
</pre>

<hr />

<h3>Previous Versions</h3>
<table class="table">
  <thead>
      <tr>
          <th>Index</th>
          <th>Date</th>
          <th>Author</th>
          <th>Remote IP</th>
          <th>Event</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <% @course.versions.reverse_each do |version| %>
    <tr>
      <td><%= version.index %></td>
      <td><%= version.created_at %></td>
      <td><%= find_version_author_name(version) %></td>
      <td><%= version.ip %></td>
      <td><%= version.event.humanize %></td>
      <td><%= link_to 'Diff', diff_course_version_path(@course, version), class: "btn btn-info btn-xs" %></td>
      <td><%= link_to 'Rollback', rollback_course_version_path(@course, version), method: :patch, class: "btn btn-primary btn-xs" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
