<h1><%= @course.name %>'s History</h1>

<%= @course.versions.each do |version| %>
  <li>
    <%= version.created_at %><br />
    Event ID: <%= version.id %><br/>
    <b>Target:</b> <%= version.item_type %>
  <small>(id: <%= version.item_id %>)</small>; <b>action</b> <%= version.event %>;<br/>
  <div>
    More info:
    <pre><%= version.object %></pre>
  </div>
  </li>
<% end %>
