<h1 class="text-center"><%= @course.name %> 的版本紀錄</h1>

<table class="table">
  <thead>
      <tr>
          <th>Index</th>
          <th>Date</th>
          <th>Author</th>
          <th>Remote IP</th>
          <th>Event</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <% @course.versions.reverse_each do |version| %>
    <tr>
      <td><%= version.index %></td>
      <td><%= version.created_at %></td>
      <td><%= find_version_author_name(version) %></td>
      <td><%= version.ip %></td>
      <td><%= version.event.humanize %></td>
      <td><%= link_to 'Diff', diff_course_version_path(@course, version), class: "btn btn-info btn-xs" %></td>
      <td><%= link_to 'Rollback', rollback_course_version_path(@course, version), method: :patch, class: "btn btn-primary btn-xs" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
