<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>NctuIMF考古題系統</title>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

	<div class="container">

    <%= render "common/navbar" %>

		<%= notice_message %>

  	<%= yield %>

    <%= render :partial => "common/bootstrap_modal" %>

    <!-- <%= render "common/footer" %> -->
  </div>
</body>
</html>
